@model FacultyDeleteViewModel

@{ 
    ViewData["Title"] = "Delete Page";
} 

<div class="container">
    This page fetches the delete form.
    <form method="post" asp-action="delete">
        <div class="form-group">
            <input type="hidden" autofocus asp-for="Id" />
        </div>

        <div class="text-right">
            <button type="submit" class="btn btn-danger btn-block waves-effect waves-light">Remove Faculty</button>
        </div>


    </form>
</div>