@model FacultyDetailsViewModel

@{ 
    ViewData["Title"] = "Faculty Details";
}

<div>
    <h3>The faculty details page will contain a table, I need to add that to this page to display a single record and table</h3>
</div>